<template name='room'>
	{{ test room.roomId }}

	<div id='room' class='row'>
		<div id='roomSide' class='col s2'>
			<h1 id='roomName'>#{{ room.roomId }}</h1>
			{{> chat messages=room.messages }}
		</div>

		<div id='roomMain' class='col s10'>
			{{#if missionNotSet room.mission }}
				<div id='missionSelectorContainer'>
					<div class="center-align">
						<a class='dropdown-button btn' href='#' data-activates='missionSelector'>Select a Mission</a>
						<ul id='missionSelector' class='dropdown-content'>
							{{ missions }}
						</ul>
					</div>
				</div>
			{{ else }}
				{{> map }}
				<!-- {{> players }} -->
			{{/if}}
		</div>
	</div>

	<script>
		function roomResize(){
			d3.select('#roomSide').style('height', window.innerHeight - parseInt($('.nav-wrapper').css('height')) + 'px');
			
			d3.select('#chat').style('height', parseInt($('#roomSide').css('height')) - parseInt($('#roomName').css('height')) - 70 + 'px');

			d3.select('#ulContainer').style('max-height', parseInt($('#chat').css('height')) - parseInt($('#chat>form').css('height')) + 'px');
			
			{{#if missionNotSet room.mission }}
				// console.log( 'roomResize' );
				d3.select('#missionSelectorContainer').style('height', window.innerHeight - parseInt($('.nav-wrapper').css('height')) + 'px');
			{{/if}}
		}

		( function( w, d, u, d3, $ ) {
			roomResize();
		} )( window, document, undefined, d3, $ );
		
		window.addEventListener('resize', roomResize);
	</script>
</template>